extends layout

block variables
    - const options = {month: 'long', day: 'numeric', year: 'numeric', hour: 'numeric', minute: 'numeric', second: 'numeric', timeZoneName: 'short'};

block title
    title #{title} | E-Store

block styles
    link(rel='stylesheet' href='/css/toastr.min.css')

block content
    div.breadcrumb_section.bg_gray.page-title-mini
        div.container
            div.row.align-items-center
                div.col-md-6
                    div.page-title
                        h1 Products
    div.main_content
        div.login_register_wrap.section
            div.container
                div.row.justify-content-center
                    div.col-xl-6.col-md-10
                        div.login_wrap
                            div.padding_eight_all.bg-white
                                div.heading_s1
                                    h3= title
                                form(method="post", action=actionURL, enctype="multipart/form-data")
                                    div.form-group.mb-3
                                        input.form-control(type="text", required=(title!=='Edit Product'), name="name", value=`${(product) ? product.name : ''}`, placeholder="Product Name")
                                    div.form-group.mb-3
                                        input.form-control(type="number", step="0.01", required=(title!=='Edit Product'), value=`${(product) ? product.price : ''}`, name="price", placeholder="Price")
                                    div.form-group.mb-3
                                        input.form-control(type="file", accept='image/*', required=(title!=='Edit Product'), name="thumbnail", placeholder="Thumbnail")
                                    div.form-group.mb-3
                                        input.form-control(type="number", step="0.01", min='0', max='5', required=(title!=='Edit Product'), value=`${(product) ? product.rating : ''}`, name="rating", placeholder="Rating")
                                    div.form-group.mb-3
                                        button.btn.btn-fill-out.btn-block(type="submit", name="add-product")= title
block scripts
    script(src='/js/toastr.min.js')
    script(src='/js/admin/product.js')


